@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
	font-family: 'Roboto', sans-serif;
}

main {
	background-color: #f9fafb;
}

html {
	scroll-behavior: smooth;
}

@theme {
	--animate-bounce: bounce 1s ease-in-out infinite;
	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-8%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: none;
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}
